.page1
{
    padding: 0px 0px 59px 0px;
    background: url(../assets/images/BG.jpg);
    background-size: contain;
    background-position: center;
}
@media (max-width:375px)
{
    .page1
    {
        background:url();
        background-color : #FFFFFF;
    }
}
.header
{
    padding: 32px 20px;
    .header_container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top_menu_btns
        {
            display: flex;
            gap: 11px;
            .btn
            {
                padding: 10px 20px;
                border-radius: 6px;
                border: 2px transparent solid;
                font-family: Gilroy;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: center;
            }
            .enter
            {
                color : $primary_color;
            }
            .enter:hover
            {
                background-color : $primary_color;
                color: #FFFFFF;
                transition: 0.3s;
            }
            .registration
            {
                background-color:$primary_color;
                color: #FFFFFF;
            }
            .registration:hover
            {
                background-color:#FFFFFF;
                color: $primary_color;
                border-color: $primary_color;
                transition: 0.3s;
            }
        }
    }
}
@media (max-width: 411px)
{ 
    .top_menu_btns
    {
        display: none;
    }
}
@media (max-width:411px) {
    .top_menu_btns
    {
        display: none;
    }
}